{% extends "base.html" %}
{% block content %}
  <h1>Lisää esine huutokaupattavaksi</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/esine">
    <!-- Nimi -->
    <div class="form-group">
      <label>Esineen nimi</label>
      <input name="item_name" class="form-control" type="text">
    </div>

    <!-- Loppuu -->
    <div class="form-group">
      <label>Huutokaupan loppumisaika (yy-mm-dd hh:mm:ss)</label>
      <input name="end_date" class="form-control" type="text">
    </div>

    <!-- Alkuhinta -->
    <div class="form-group">
      <label>Alkuhinta (€)</label>
      <input name="minimum_bid" class="form-control" type="text">
    </div>

    <!-- Alkuhinta -->
    <div class="form-group">
      <label>Kuvaus</label>
      <input name="description" class="form-control" type="text">
    </div>

    <!-- Kategoriat -->
    <div class="form-group">
      <label>Kategoriat</label>
      <div>
        <select name="selected_tags[]" multiple>

          {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.tag_name}}</option>
          {% endfor %}

        </select>
      </div>
    </div>

    <!-- Kuvat -->
    <!-- <div>
      <label for="file">Valitse kuvat esineelle</label>
      <input type="file" id="file" name="file" multiple>
    </div>
    <div> -->

    </br>

    <button type="submit" class="btn btn-primary">Tallenna</button>
  </form>
{% endblock %}