{% extends "base.html" %}
{% block content %}
  <h1>Lisää esine huutokaupattavaksi</h1>

  <form method="post" action="{{base_path}}/esine">
    <!-- Nimi -->
    <div class="form-group">
      <label>Esineen nimi</label>
      <input name="item_name" class="form-control" type="text">
    </div>

    <!-- Loppuu -->
    <div class="form-group">
      <label>Huutokaupan loppumisaika</label>
      <input name="end_date" class="form-control" type="text">
    </div>

    <!-- Alkuhinta -->
    <div class="form-group">
      <label>Alkuhinta (€)</label>
      <input name="minimum_bid" class="form-control" type="text">
    </div>

    <!-- Alkuhinta -->
    <div class="form-group">
      <label>Kuvaus</label>
      <input name="description" class="form-control" type="text">
    </div>

    <!-- Kuvat -->
    <!-- <div>
      <label for="file">Valitse kuvat esineelle</label>
      <input type="file" id="file" name="file" multiple>
    </div>
    <div> -->

    </br>

    <button type="submit" class="btn btn-primary">Tallenna</button>
  </form>
{% endblock %}