{% extends "base.html" %}
{% block content %}
  <h1>Lisää esine huutokaupattavaksi</h1>

  <form>
    <!-- Nimi -->
    <div class="form-group">
      <label>Esineen nimi</label>
      <input class="form-control" value="PS3 pelikonsoli" type="text">
    </div>

    <!-- Loppuu -->
    <div class="form-group">
      <label>Huutokaupan loppumisaika</label>
      <input class="form-control" value="18.9.2017 12:00" type="text">
    </div>

    <!-- Alkuhinta -->
    <div class="form-group">
      <label>Alkuhinta</label>
      <input class="form-control" value="80€" type="text">
    </div>

    <!-- Kuvat -->
    <div>
      <label for="file">Valitse kuvat esineelle</label>
      <input type="file" id="file" name="file" multiple>
    </div>
    <div>

    </br>

    <button type="submit" class="btn btn-primary">Tallenna</button>
  </form>
{% endblock %}