{% extends "base.html" %}
{% block content %}
  <h1>Huutokaupattavat esineet</h1>

  <p>
    <a href="lisaaesine" class="btn btn-success">Lisää esine huutokaupattavaksi</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Alkanut</th>
        <th>Loppuu</th>
        <th>Alkuhinta</th>
        <th>Nykyinen tarjous</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="esine/1">PS3 pelikonsoli</a></td>
        <td>17.9.2017 12:00</td>
        <td>18.9.2017 12:00</td>
        <td>80€</td>
        <td>120€</td>
      </tr>
    </tbody>
  </table>
{% endblock %}